$ag-hover-color: cornsilk;
$ag-header-background-color: rgb(255, 136, 0);
$ag-header-foreground-color: white;
$ag-cell-highlight-border: rgb(253, 242, 196);
$checkbox-grey1: rgb(221, 221, 221);
$checkbox-grey2: #ccc;
